@model TradeMart.Model.RegisterModel
@{
    ViewBag.Title = "AgentRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/AgentContent/CSS.css" rel="stylesheet" />

<div style="width: auto; margin-left: 200px;">
    <div style="width:910px; height:550px; background-color:white;">
        <center><h3 style="color:brown; font-size:24px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Registration</h3></center>
        <div class="wrapper">
            <form action="#">
                <div class="input-box">
                    <input type="text" id="txtAName" name="txtAName" placeholder="Enter Agent Name" required />
                </div>
                <div class="input-box">
                    <input type="text" id="datepicker" placeholder="Enter Your Date of Birth">
                </div>
                <div class="input-box">
                    <input type="text" id="txtEmail" name="txtEmail" placeholder="Enter your Email" required />
                </div>
                <div class="input-box">
                    <input type="text" id="txtPhone" name="txtPhone" placeholder="Enter your Phone Number" required />
                </div>
                <div class="input-box">
                    <input type="text" id="txtLocation" name="txtLocation" placeholder="Enter your Location" required />
                </div>
                <div style="width:100%; height:50px;">
                    <div style="width: 200px; float: left; height: auto; ">
                        <div class="input-box button">
                            <input id="btnSubmit" type="Submit" value="Submit">
                        </div>
                    </div>
                </div>
                <div style="width:100%; height:30px;">
                    <div style="width: 300px; float: left; height: auto;">
                        <div class="policy">
                            <input type="checkbox">
                            <h3>I accept all terms & condition</h3>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="wrapper">
            <div id="dataDiv">
            </div>
        </div>
    </div>
</div>

<script src="~/AgentScripts/jquery-3.7.1.js"></script>
<script src="~/AgentScripts/jquery-ui.js"></script>
<script type="text/javascript">

    $(document).ready(function () {


        $('#txtEmail').change(function () {
            alert($("#txtEmail").val());

            if (validateEmail($("#txtEmail").val())) {
                alert('given email id is valid');
                $.ajax({
                    type: "POST",
                    url: "/Home/AgentEmailValidate",
                    contentType: "application/json; charset=utf-8",
                    data: '{ email:' + JSON.stringify($("#txtEmail").val()) + '}',
                    dataType: "html",
                    success: function (result, status, xhr) {
                        if (result == null) {
                            $("#txtEmail").val('');
                            alert("this email id is already used please use other email id");
                        }
                    },
                    error: function (xhr, status, error) {
                        $("#dataDiv").html("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                    }
                });
            }
            else {
                alert('given email id is not valid');
            }
        });

         $("#btnSubmit").click(function (e) {
            if ($("#txtAName").val() == "" && $("#datepicker").val() == "")
                alert("Agent Name and Date of Birth details cannot be empty");
            else if ($("#txtEmail").val() == "" && $("#txtPhone").val() == "")
                alert("Email,Phone Number cannot be empty");
            else if ($("#txtLocation").val() == "")
                alert("Location details cannot be empty");
            else {
                var save = [
                    {
                        "AgentName": $("#txtAName").val(),
                        "DOB": $("#datepicker").val(),
                        "Email": $("#txtEmail").val(),
                        "Phone": $("#txtPhone").val(),
                        "Location": $("#txtLocation").val()
                    }
                ];

                $.ajax({
                    type: "POST",
                    url: "/Home/AgentDetails",
                    contentType: "application/json; charset=utf-8",
                    data: '{ agent:' + JSON.stringify(save) + '}',
                    dataType: "html",
                    success: function (result, status, xhr) {
                        $("#dataDiv").html(result);
                        $('#txtAName').val("");
                        $('#datepicker').val("");
                        $('#txtEmail').val("");
                        $('#txtPhone').val("");
                        $('#txtLocation').val("");
                    },
                    error: function (xhr, status, error) {
                        $("#dataDiv").html("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                    }
                });
            }
            return false;
        });
    });
</script>